body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    border-bottom: 1px solid black;
    margin-bottom: 100px;
}
#gameContainer {
    display: flex; 
    justify-content: center;
    border-bottom: 2px solid black;
}
.rod {
    width: 10px;
    height: 300px;
    background-color: black;
    margin: 0 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}
#one {
    height: 40px;
    width: 100px;
    background-color: red;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#two {
    height: 40px;
    width: 150px;
    background-color: blue;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#three {
    height: 40px;
    width: 200px;
    background-color: yellow;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#four {
    height: 40px;
    width: 250px;
    background-color: green;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#five {
    height: 40px;
    width: 300px;
    background-color: purple;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#win h1 {
    margin: 75px 0;
    border: none;
    font-size: 4em;
}